{% extends 'OCPlatformBundle::layout.html.twig' %}

{% block title %}Ajouter une annonce - {{ parent() }}{% endblock %}

{% block ocplatform_body %}
    <h2>Ajouter une annonce</h2>

    {% include 'OCPlatformBundle:Advert:form.html.twig'%}

    <p>
    Attention : cette annonce sera ajoutée directement sur la page d'accueil après validation du formulaire.
    </p>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="https://cdn.ckeditor.com/4.7.3/full/ckeditor.js"></script>
{% endblock %}
