{# src/OC/PlatformBundle/Resources/views/bye.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>See you soon</title>
    </head>
    <body>
        <h1>Bye {{ name }} </h1>
        <p>See you soon.</p>
    </body>
</html>
