{# {{dump(listAdverts)}} #}
<ul class="nav nav-pills nav-stacked">
    {% for advert in listAdverts %}
        <li>
            <a href="{{ path('oc_platform_view', {'id': advert.id, 'slug':advert.slug}) }}">{{ advert.title }}</a>
        </li>
    {% endfor %}
</ul>
