{% extends '::layout.html.twig' %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Les annonces</h1>
    <hr>
    {% block ocplatform_body %}
    {% endblock %}

{% endblock %}
