{% trans_default_domain 'FOSUserBundle' %}

<div class="col-md-6 col-md-offset-3">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary center-block" />
        </div>
    {{ form_end(form) }}
</div>
